:root {
  /*背景色*/
  --main-bg-color: #ffffff;
  --main-fg-color: #7790a5;
  --main-on-color: #7786a5;
  --customer-fg-color: #8377a5;
  --store-fg-color: #4f7758;

  /*文字色*/
  --text-color-one: #000000;
  --text-color-two: #ffffff;

  /*線などパーツの色*/
  --line-color: #f1f1f1
}

header{
  z-index: 10;
  height: 60px;
  position: fixed;
  top: 0px;
  background-color: var(--main-bg-color);
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
main{
  z-index: 5;
  position: relative;
  top: 70px;
  background-color: var(--main-bg-color);
  width: 100%;
  text-align: left;
  padding: 26px 40px ;
}

body {
  background: var(--main-bg-color);
}

ul li{
list-style: none;
}

ul h1 {
  display: inline-block;
  padding: 26px 0px ;
  color: var(--main-fg-color);
  text-align:center;
  font-size: x-large;
  list-style: none;
}
h2 {
  position: fixed;
  display: inline-block;
  left:60px;
  padding: 20px 0px;
  color: var(--main-fg-color);
  font-size: x-large;
  list-style: none;
  border:0;
  outline:0;
}
h3 {
  position: fixed;
  display: inline-block;
  padding: 25px 0px;
  color: var(--text-color-one);
  font-size: small;
  list-style: none;
  border:0;
  outline:0;
  right:10px;
}

button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
}
/*
.set-button {
    background-color: #b1eeff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
    }
.set-button:hover {
    background-color: var(--main-fg-color);
    }

*/
/*メニューバー*/
.menu-btn {
    position: fixed;
    top: 2px;
    left: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 8090;
    background-color: #ffffff00;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: var(--main-fg-color);
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(109, 47, 47, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
    background-color: var(--main-bg-color);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
    background-color: var(--main-bg-color);
}
#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8080;
    background-color: var(--main-fg-color);
}
.menu-content ul {
    padding: 70px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px var(--main-bg-color);
    list-style: none;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color:var(--main-bg-color);
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}
.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px var(--main-bg-color);
    border-right: solid 2px var(--main-bg-color);
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

.menu-content {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 8080;
    background-color: var(--main-fg-color);
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    left: 0;/*メニューを画面内へ*/
}
.menu-title {
  z-index: 9999999;
  position: fixed;
  display: inline-block;
  right:0;
  padding: 20px 0px;
  color: var(--text-color-one);
  font-size: x-large;
  list-style: none;
  border:0;
  outline:0;
}
in-title {
  display: inline-block;
  padding: 20px 60px;
  color: var(--main-bg-color);
  font-size: x-large;
  list-style: none;
  border:0;
  outline:0;
}

/*ぱんくず*/
.cp_breadcrumb *, .cp_breadcrumb *:after, .cp_breadcrumb *:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_breadcrumb {
	margin: 1em 1em 1em 0em;
	padding: 1em 2em;
	background-color: var(--main-fg-color);
	color: #fff;
	border-radius: 0.5em;
  width: 940px;
  left: 0px;
}
.cp_breadcrumb a {
	text-decoration: none;
	color: rgb(211, 211, 211);
}
.cp_breadcrumb .breadcrumbs {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.cp_breadcrumb li {
	display: inline-block;
	position: relative;
	padding-right: calc(16px + 8px);
	margin-right: 8px;
	color: #d6d6d6;
}
.cp_breadcrumb li::before {
	content: '›';
	width: 1em;
	height: 1em;
	line-height: 1;
	text-align: center;
	font-size: 1em;
	color: inherit;
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.cp_breadcrumb li:last-child {
	margin-right: 0;
	padding-right: 0;
	color: #ffffff;
}
.cp_breadcrumb li:last-child::before {
	content: normal;
}